<div class="max-w-lg mx-auto">
  <div class="stat-card w-full">
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <fb-input-field
        inputId="email"
        [control]="controls.email"
        placeholder="Email"
        type="email"
        [required]="true"
      />
      <fb-input-field
        inputId="password"
        [control]="controls.password"
        placeholder="Password"
        type="password"
        [required]="true"
      />
      <button class="btn btn-default w-full" type="submit" [disabled]="loading()">Login</button>
      <a class="btn btn-link" href="/register">If you don't have an account, register!</a>
      @if (error()) {
        <p class="error">{{ error() }}</p>
      }
    </form>
  </div>
</div>
