<div class="min-h-screen bg-primary flex place-center p-4">
    <div class="stat-card w-full">
        <form [formGroup]="form" (ngSubmit)="onLogin()">
            <gc-input-field
                inputId="email"
                [control]="controls.email"
                label="Email"
                placeholder="Email"
                type="email"
                [required]="true"
            />
            <gc-input-field
                inputId="password"
                [control]="controls.password"
                label="Password"
                placeholder="Password"
                type="password"
                [required]="true"
            />
            <button class="btn btn-default w-full" type="submit" [disabled]="loading()">
                Login
            </button>
            <a class="btn btn-link" href="/register">If you don't have an account, register!</a>
            @if (error()) {
                <p class="error">{{ error() }}</p>
            }
        </form>
    </div>
</div>
